<div class = "container">
<fieldset class="container">
  <legend style="color:white">Sign Up Form Registration</legend>
    <form name='signupForm' novalidate>

      <input type="text" name="firstname" placeholder="Enter The First Name"
        ng-model="reg.user.firstname"
        required>
        <span
          ng-if="(signupForm.firstname.$error.required) && signupForm.firstname.$touched">
          First Name Is Required
        </span>
        <br>


      <input type="text" name="lastname" placeholder="Enter The Last Name"
        ng-model="reg.user.lastname"
        required>
      <span
      ng-if="(signupForm.lastname.$error.required) && signupForm.lastname.$touched">
      Last Name Is Required
      </span>
      <br>

      <input type="email" name="email" placeholder="Email"
        ng-model="reg.user.email"
        required>
        <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>

        <input type="text" name="phonenumber" placeholder="Enter The Phone Number"
          ng-model="reg.user.phonenumber"
          required>
        <span
        ng-if="(signupForm.phonenumber.$error.required) && signupForm.phonenumber.$touched">
        Phone Number Is Required
        </span>
        <br>

        <input type="text" name="menunumber" ng-change="reg.resetMenuNumberInfo()" placeholder="Favourite Dish Menu Number"
          ng-model="reg.user.menunumber">
         <span ng-if="!reg.menuNumberFound">
           No such menu number exists
         </span>
        <br>
        <br>
      <button style="color:black"
        ng-disabled="signupForm.$invalid"
        ng-click="reg.submit()">Submit</button>

        <div style="margin-top: 10px;" ng-If="reg.isSaved">
         Your information has been saved.
        </div>
    </form>
</fieldset>
</div>
