<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowController">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowController.srchMsg">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowController.NarrowIt()">Narrow It Down For Me!</button>
    </div>
  <br/>
  <br/>
  <br/>
<div ng-If="narrowController.notFound">  {{"Nothing found"}} </div>
 <found-items ng-If="narrowController.found.length>0" found-info="narrowController.found" on-remove="narrowController.RemoveItem(index)"></found-items>
  </div>

</body>
</html>
